<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body class="body">
    <h1>Last Minute Games</h1>
    <h3>Choose a game to get started</h3>
    <form method="POST" action="/games/1">
      <button type="submit">CREATE GAME</button>
    </form>
    <form method="GET" action="/games/1">
      <button type="submit">JOIN LOBBY</button>
    </form>
    <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Royal_flush.jpg/1200px-Royal_flush.jpg" alt="goofspiel" height=200 width="300"></div>

</body>
</html>
