<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <title>LastMinuteGames</title>
</head>
<body class="body">
  <h1 class="login_head">Last Minute Games</h1>
  <h3>Login to play</h3>
    <form class="user_login" method="post" action="/login">
      <label>Username:</label>
      <input type='username' name='username'>
      <button type="submit" class="btn btn-primary">Submit</button> </li>
    </form>
</body>
</html>



