.body {
  background-image: url("https://assets.simpleviewcms.com/simpleview/image/upload/c_fill,h_900,q_75,w_1600/v1/clients/lasvegas/uncorkd_header_168d9326-d5e4-47eb-bc15-fe4a7eb22440.jpg");
  height: 800px;
}

.login_head {
  font-family: "Tangerine", cursive, sans-serif;
  font-weight: 600;
}

body h1 {
  color: black;
  text-align: center;
  font-size: 100px;
}

container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99%;
  height: 100px;
}

.score-board {
  border: 3px solid black;
  color: white;
  height: 60px;
  width: 120px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: darkblue;
  border-radius: 10px;
}

div.prize {
  margin: 0 auto;
  display: block;
  padding: 0px 0px 15px 0px;
  width: 70px;
}

body h3 {
  text-align: center;
  font-family: "Tangerine", cursive, sans-serif;
  font-size: 80px;
  color: black;
  font-weight: 600;
}

img:hover {
  border: 2px, solid, red;
  cursor: pointer;
}

div.bid-card {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.cards img:hover {
  border-style: solid;
}

.user_login {
  width: 400px;
  height: 70px;
  margin: auto;
  padding-left: 30px;
}

.login_head {
  padding: 100px;
}

.highlight {
  border-style: solid;
}

.roundNum {
  font-size: 20px;
  border-style: solid;
  background-color: white;
  display: inline;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
}

.btn-danger {
  margin: 20px;
  width: 105.27px;
}

.btn-primary {
  margin: 20px;
}

.textInfo {
  display: inline;
  font-weight: 700;
  margin-left: 100px;
}

#login {
  margin-left: 115px;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 180px 3.33333px #8000ff, 246px -202.66667px #00e6ff, 61px -296.66667px #ffc400, 42px -107.66667px #8400ff, 249px -107.66667px #ffd000, -170px -261.66667px #ff00b7, -168px 8.33333px #ff00e1, 130px -356.66667px #008cff, -3px -186.66667px #ff00d9, -110px -236.66667px #0084ff, -145px -172.66667px #ff6f00, -166px 20.33333px #ff0040, -155px -344.66667px #b700ff, 4px -122.66667px #ff00aa, -247px -222.66667px #2b00ff, 169px -214.66667px #2b00ff, 155px -291.66667px #ff00f2, 14px -90.66667px #ff8800, 100px -161.66667px #00ff6a, 11px -31.66667px #00ff59, -118px -358.66667px #00ff11, -34px -327.66667px #0022ff, 97px -153.66667px #2b00ff, 209px -92.66667px #77ff00, -217px -95.66667px #6aff00, 205px -34.66667px #1500ff, -142px -173.66667px #ff0091, -172px -329.66667px #d5ff00, 167px -112.66667px #00f2ff, 16px -275.66667px #ff000d, -193px -15.66667px #ff00ee, 97px -172.66667px #0051ff, -16px -106.66667px #000dff, 129px -200.66667px #00ffdd, -100px -84.66667px #00ff7b, -116px -55.66667px #00ff7b, 38px -174.66667px #00ff2f, -90px -208.66667px #ff00b3, -171px -413.66667px #00ff51, -161px -405.66667px #ff7b00, -88px -319.66667px #ff0040, -80px -81.66667px #00ff77, -193px 53.33333px #6fff00, 166px 33.33333px #11ff00, 136px 14.33333px #4dff00, 124px -20.66667px #0051ff, 186px -132.66667px #ff0015, 85px -388.66667px #ffd000, 166px -303.66667px #00e1ff, -82px -46.66667px #ffd000, -46px -137.66667px #009dff;
  }
}

@-moz-keyframes bang {
  to {
    box-shadow: 180px 3.33333px #8000ff, 246px -202.66667px #00e6ff, 61px -296.66667px #ffc400, 42px -107.66667px #8400ff, 249px -107.66667px #ffd000, -170px -261.66667px #ff00b7, -168px 8.33333px #ff00e1, 130px -356.66667px #008cff, -3px -186.66667px #ff00d9, -110px -236.66667px #0084ff, -145px -172.66667px #ff6f00, -166px 20.33333px #ff0040, -155px -344.66667px #b700ff, 4px -122.66667px #ff00aa, -247px -222.66667px #2b00ff, 169px -214.66667px #2b00ff, 155px -291.66667px #ff00f2, 14px -90.66667px #ff8800, 100px -161.66667px #00ff6a, 11px -31.66667px #00ff59, -118px -358.66667px #00ff11, -34px -327.66667px #0022ff, 97px -153.66667px #2b00ff, 209px -92.66667px #77ff00, -217px -95.66667px #6aff00, 205px -34.66667px #1500ff, -142px -173.66667px #ff0091, -172px -329.66667px #d5ff00, 167px -112.66667px #00f2ff, 16px -275.66667px #ff000d, -193px -15.66667px #ff00ee, 97px -172.66667px #0051ff, -16px -106.66667px #000dff, 129px -200.66667px #00ffdd, -100px -84.66667px #00ff7b, -116px -55.66667px #00ff7b, 38px -174.66667px #00ff2f, -90px -208.66667px #ff00b3, -171px -413.66667px #00ff51, -161px -405.66667px #ff7b00, -88px -319.66667px #ff0040, -80px -81.66667px #00ff77, -193px 53.33333px #6fff00, 166px 33.33333px #11ff00, 136px 14.33333px #4dff00, 124px -20.66667px #0051ff, 186px -132.66667px #ff0015, 85px -388.66667px #ffd000, 166px -303.66667px #00e1ff, -82px -46.66667px #ffd000, -46px -137.66667px #009dff;
  }
}

@-o-keyframes bang {
  to {
    box-shadow: 180px 3.33333px #8000ff, 246px -202.66667px #00e6ff, 61px -296.66667px #ffc400, 42px -107.66667px #8400ff, 249px -107.66667px #ffd000, -170px -261.66667px #ff00b7, -168px 8.33333px #ff00e1, 130px -356.66667px #008cff, -3px -186.66667px #ff00d9, -110px -236.66667px #0084ff, -145px -172.66667px #ff6f00, -166px 20.33333px #ff0040, -155px -344.66667px #b700ff, 4px -122.66667px #ff00aa, -247px -222.66667px #2b00ff, 169px -214.66667px #2b00ff, 155px -291.66667px #ff00f2, 14px -90.66667px #ff8800, 100px -161.66667px #00ff6a, 11px -31.66667px #00ff59, -118px -358.66667px #00ff11, -34px -327.66667px #0022ff, 97px -153.66667px #2b00ff, 209px -92.66667px #77ff00, -217px -95.66667px #6aff00, 205px -34.66667px #1500ff, -142px -173.66667px #ff0091, -172px -329.66667px #d5ff00, 167px -112.66667px #00f2ff, 16px -275.66667px #ff000d, -193px -15.66667px #ff00ee, 97px -172.66667px #0051ff, -16px -106.66667px #000dff, 129px -200.66667px #00ffdd, -100px -84.66667px #00ff7b, -116px -55.66667px #00ff7b, 38px -174.66667px #00ff2f, -90px -208.66667px #ff00b3, -171px -413.66667px #00ff51, -161px -405.66667px #ff7b00, -88px -319.66667px #ff0040, -80px -81.66667px #00ff77, -193px 53.33333px #6fff00, 166px 33.33333px #11ff00, 136px 14.33333px #4dff00, 124px -20.66667px #0051ff, 186px -132.66667px #ff0015, 85px -388.66667px #ffd000, 166px -303.66667px #00e1ff, -82px -46.66667px #ffd000, -46px -137.66667px #009dff;
  }
}

@-ms-keyframes bang {
  to {
    box-shadow: 180px 3.33333px #8000ff, 246px -202.66667px #00e6ff, 61px -296.66667px #ffc400, 42px -107.66667px #8400ff, 249px -107.66667px #ffd000, -170px -261.66667px #ff00b7, -168px 8.33333px #ff00e1, 130px -356.66667px #008cff, -3px -186.66667px #ff00d9, -110px -236.66667px #0084ff, -145px -172.66667px #ff6f00, -166px 20.33333px #ff0040, -155px -344.66667px #b700ff, 4px -122.66667px #ff00aa, -247px -222.66667px #2b00ff, 169px -214.66667px #2b00ff, 155px -291.66667px #ff00f2, 14px -90.66667px #ff8800, 100px -161.66667px #00ff6a, 11px -31.66667px #00ff59, -118px -358.66667px #00ff11, -34px -327.66667px #0022ff, 97px -153.66667px #2b00ff, 209px -92.66667px #77ff00, -217px -95.66667px #6aff00, 205px -34.66667px #1500ff, -142px -173.66667px #ff0091, -172px -329.66667px #d5ff00, 167px -112.66667px #00f2ff, 16px -275.66667px #ff000d, -193px -15.66667px #ff00ee, 97px -172.66667px #0051ff, -16px -106.66667px #000dff, 129px -200.66667px #00ffdd, -100px -84.66667px #00ff7b, -116px -55.66667px #00ff7b, 38px -174.66667px #00ff2f, -90px -208.66667px #ff00b3, -171px -413.66667px #00ff51, -161px -405.66667px #ff7b00, -88px -319.66667px #ff0040, -80px -81.66667px #00ff77, -193px 53.33333px #6fff00, 166px 33.33333px #11ff00, 136px 14.33333px #4dff00, 124px -20.66667px #0051ff, 186px -132.66667px #ff0015, 85px -388.66667px #ffd000, 166px -303.66667px #00e1ff, -82px -46.66667px #ffd000, -46px -137.66667px #009dff;
  }
}

@keyframes bang {
  to {
    box-shadow: 180px 3.33333px #8000ff, 246px -202.66667px #00e6ff, 61px -296.66667px #ffc400, 42px -107.66667px #8400ff, 249px -107.66667px #ffd000, -170px -261.66667px #ff00b7, -168px 8.33333px #ff00e1, 130px -356.66667px #008cff, -3px -186.66667px #ff00d9, -110px -236.66667px #0084ff, -145px -172.66667px #ff6f00, -166px 20.33333px #ff0040, -155px -344.66667px #b700ff, 4px -122.66667px #ff00aa, -247px -222.66667px #2b00ff, 169px -214.66667px #2b00ff, 155px -291.66667px #ff00f2, 14px -90.66667px #ff8800, 100px -161.66667px #00ff6a, 11px -31.66667px #00ff59, -118px -358.66667px #00ff11, -34px -327.66667px #0022ff, 97px -153.66667px #2b00ff, 209px -92.66667px #77ff00, -217px -95.66667px #6aff00, 205px -34.66667px #1500ff, -142px -173.66667px #ff0091, -172px -329.66667px #d5ff00, 167px -112.66667px #00f2ff, 16px -275.66667px #ff000d, -193px -15.66667px #ff00ee, 97px -172.66667px #0051ff, -16px -106.66667px #000dff, 129px -200.66667px #00ffdd, -100px -84.66667px #00ff7b, -116px -55.66667px #00ff7b, 38px -174.66667px #00ff2f, -90px -208.66667px #ff00b3, -171px -413.66667px #00ff51, -161px -405.66667px #ff7b00, -88px -319.66667px #ff0040, -80px -81.66667px #00ff77, -193px 53.33333px #6fff00, 166px 33.33333px #11ff00, 136px 14.33333px #4dff00, 124px -20.66667px #0051ff, 186px -132.66667px #ff0015, 85px -388.66667px #ffd000, 166px -303.66667px #00e1ff, -82px -46.66667px #ffd000, -46px -137.66667px #009dff;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
