.body {
  background-image: url("https://assets.simpleviewcms.com/simpleview/image/upload/c_fill,h_900,q_75,w_1600/v1/clients/lasvegas/uncorkd_header_168d9326-d5e4-47eb-bc15-fe4a7eb22440.jpg");
  height: 800px;
}

.login_head {
  font-family: "Tangerine", cursive, sans-serif;
  font-weight: 600;
}

body h1 {
  color: black;
  text-align: center;
  font-size: 100px;
}

container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99%;
  height: 100px;
}

.score-board {
  border: 3px solid black;
  color: white;
  height: 60px;
  width: 120px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: darkblue;
  border-radius: 10px;
}

div.prize {
  margin: 0 auto;
  display: block;
  padding: 0px 0px 15px 0px;
  width: 70px;
}

body h3 {
  text-align: center;
  font-family: "Tangerine", cursive, sans-serif;
  font-size: 80px;
  color: black;
  font-weight: 600;
}

img:hover {
  border: 2px, solid, red;
  cursor: pointer;
}

div.bid-card {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.cards img:hover {
  border-style: solid;
}

.user_login {
  width: 400px;
  height: 70px;
  margin: auto;
  padding-left: 30px;
}

.login_head {
  padding: 100px;
}

.highlight {
  border-style: solid;
}

.roundNum {
  font-size: 20px;
  border-style: solid;
  background-color: white;
  display: inline;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
}

.btn-danger {
  margin: 20px;
  width: 105.27px;
}

.btn-primary {
  margin: 20px;
}

.textInfo {
  display: inline;
  font-weight: 700;
  margin-left: 100px;
}

#login {
  margin-left: 115px;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -115px -301.66667px #0051ff, -182px -314.66667px #001eff, -8px 21.33333px #00ff44, 81px -7.66667px darkorange, 208px -99.66667px #0004ff, 82px -258.66667px #ff00a2, 242px -27.66667px #ff00b7, 24px -34.66667px #ff005e, 18px -77.66667px #ff00fb, 160px -124.66667px #e6ff00, 203px -366.66667px #00ff2f, 21px -290.66667px #0004ff, -130px 2.33333px #ff00c4, -239px 44.33333px #ccff00, 201px -397.66667px #00ffae, -50px -107.66667px #ffe600, 130px 61.33333px #ff0400, 245px -77.66667px #ff009d, -118px -282.66667px #d0ff00, 197px -195.66667px #ff3300, -85px -156.66667px #ff5900, -220px -234.66667px lime, -160px -71.66667px #ffc800, -46px -157.66667px #0073ff, -4px -30.66667px #ff00cc, 90px -258.66667px #0400ff, -112px -228.66667px #00ffe6, -153px -183.66667px #6a00ff, -50px -383.66667px #ff0055, -194px -389.66667px #ff0022, 33px -282.66667px #ff0059, -35px -176.66667px #00f7ff, 226px -356.66667px #ff007b, 134px -147.66667px #ff0062, -209px -242.66667px #ff0059, -77px -238.66667px #ff2600, 220px 82.33333px #ffbf00, 5px -94.66667px #ff007b, 205px 16.33333px #2b00ff, -186px -122.66667px #8000ff, -92px 58.33333px #f700ff, -47px -389.66667px #1100ff, -18px 3.33333px #0091ff, -183px -314.66667px #00ff37, 147px -138.66667px #00ffcc, -157px 60.33333px #00ff51, 241px -263.66667px #00ffbb, 61px -99.66667px #2f00ff, -94px 55.33333px #ffe100, 208px 16.33333px #ffdd00, 142px -68.66667px #ddff00;
  }
}

@-moz-keyframes bang {
  to {
    box-shadow: -115px -301.66667px #0051ff, -182px -314.66667px #001eff, -8px 21.33333px #00ff44, 81px -7.66667px darkorange, 208px -99.66667px #0004ff, 82px -258.66667px #ff00a2, 242px -27.66667px #ff00b7, 24px -34.66667px #ff005e, 18px -77.66667px #ff00fb, 160px -124.66667px #e6ff00, 203px -366.66667px #00ff2f, 21px -290.66667px #0004ff, -130px 2.33333px #ff00c4, -239px 44.33333px #ccff00, 201px -397.66667px #00ffae, -50px -107.66667px #ffe600, 130px 61.33333px #ff0400, 245px -77.66667px #ff009d, -118px -282.66667px #d0ff00, 197px -195.66667px #ff3300, -85px -156.66667px #ff5900, -220px -234.66667px lime, -160px -71.66667px #ffc800, -46px -157.66667px #0073ff, -4px -30.66667px #ff00cc, 90px -258.66667px #0400ff, -112px -228.66667px #00ffe6, -153px -183.66667px #6a00ff, -50px -383.66667px #ff0055, -194px -389.66667px #ff0022, 33px -282.66667px #ff0059, -35px -176.66667px #00f7ff, 226px -356.66667px #ff007b, 134px -147.66667px #ff0062, -209px -242.66667px #ff0059, -77px -238.66667px #ff2600, 220px 82.33333px #ffbf00, 5px -94.66667px #ff007b, 205px 16.33333px #2b00ff, -186px -122.66667px #8000ff, -92px 58.33333px #f700ff, -47px -389.66667px #1100ff, -18px 3.33333px #0091ff, -183px -314.66667px #00ff37, 147px -138.66667px #00ffcc, -157px 60.33333px #00ff51, 241px -263.66667px #00ffbb, 61px -99.66667px #2f00ff, -94px 55.33333px #ffe100, 208px 16.33333px #ffdd00, 142px -68.66667px #ddff00;
  }
}

@-o-keyframes bang {
  to {
    box-shadow: -115px -301.66667px #0051ff, -182px -314.66667px #001eff, -8px 21.33333px #00ff44, 81px -7.66667px darkorange, 208px -99.66667px #0004ff, 82px -258.66667px #ff00a2, 242px -27.66667px #ff00b7, 24px -34.66667px #ff005e, 18px -77.66667px #ff00fb, 160px -124.66667px #e6ff00, 203px -366.66667px #00ff2f, 21px -290.66667px #0004ff, -130px 2.33333px #ff00c4, -239px 44.33333px #ccff00, 201px -397.66667px #00ffae, -50px -107.66667px #ffe600, 130px 61.33333px #ff0400, 245px -77.66667px #ff009d, -118px -282.66667px #d0ff00, 197px -195.66667px #ff3300, -85px -156.66667px #ff5900, -220px -234.66667px lime, -160px -71.66667px #ffc800, -46px -157.66667px #0073ff, -4px -30.66667px #ff00cc, 90px -258.66667px #0400ff, -112px -228.66667px #00ffe6, -153px -183.66667px #6a00ff, -50px -383.66667px #ff0055, -194px -389.66667px #ff0022, 33px -282.66667px #ff0059, -35px -176.66667px #00f7ff, 226px -356.66667px #ff007b, 134px -147.66667px #ff0062, -209px -242.66667px #ff0059, -77px -238.66667px #ff2600, 220px 82.33333px #ffbf00, 5px -94.66667px #ff007b, 205px 16.33333px #2b00ff, -186px -122.66667px #8000ff, -92px 58.33333px #f700ff, -47px -389.66667px #1100ff, -18px 3.33333px #0091ff, -183px -314.66667px #00ff37, 147px -138.66667px #00ffcc, -157px 60.33333px #00ff51, 241px -263.66667px #00ffbb, 61px -99.66667px #2f00ff, -94px 55.33333px #ffe100, 208px 16.33333px #ffdd00, 142px -68.66667px #ddff00;
  }
}

@-ms-keyframes bang {
  to {
    box-shadow: -115px -301.66667px #0051ff, -182px -314.66667px #001eff, -8px 21.33333px #00ff44, 81px -7.66667px darkorange, 208px -99.66667px #0004ff, 82px -258.66667px #ff00a2, 242px -27.66667px #ff00b7, 24px -34.66667px #ff005e, 18px -77.66667px #ff00fb, 160px -124.66667px #e6ff00, 203px -366.66667px #00ff2f, 21px -290.66667px #0004ff, -130px 2.33333px #ff00c4, -239px 44.33333px #ccff00, 201px -397.66667px #00ffae, -50px -107.66667px #ffe600, 130px 61.33333px #ff0400, 245px -77.66667px #ff009d, -118px -282.66667px #d0ff00, 197px -195.66667px #ff3300, -85px -156.66667px #ff5900, -220px -234.66667px lime, -160px -71.66667px #ffc800, -46px -157.66667px #0073ff, -4px -30.66667px #ff00cc, 90px -258.66667px #0400ff, -112px -228.66667px #00ffe6, -153px -183.66667px #6a00ff, -50px -383.66667px #ff0055, -194px -389.66667px #ff0022, 33px -282.66667px #ff0059, -35px -176.66667px #00f7ff, 226px -356.66667px #ff007b, 134px -147.66667px #ff0062, -209px -242.66667px #ff0059, -77px -238.66667px #ff2600, 220px 82.33333px #ffbf00, 5px -94.66667px #ff007b, 205px 16.33333px #2b00ff, -186px -122.66667px #8000ff, -92px 58.33333px #f700ff, -47px -389.66667px #1100ff, -18px 3.33333px #0091ff, -183px -314.66667px #00ff37, 147px -138.66667px #00ffcc, -157px 60.33333px #00ff51, 241px -263.66667px #00ffbb, 61px -99.66667px #2f00ff, -94px 55.33333px #ffe100, 208px 16.33333px #ffdd00, 142px -68.66667px #ddff00;
  }
}

@keyframes bang {
  to {
    box-shadow: -115px -301.66667px #0051ff, -182px -314.66667px #001eff, -8px 21.33333px #00ff44, 81px -7.66667px darkorange, 208px -99.66667px #0004ff, 82px -258.66667px #ff00a2, 242px -27.66667px #ff00b7, 24px -34.66667px #ff005e, 18px -77.66667px #ff00fb, 160px -124.66667px #e6ff00, 203px -366.66667px #00ff2f, 21px -290.66667px #0004ff, -130px 2.33333px #ff00c4, -239px 44.33333px #ccff00, 201px -397.66667px #00ffae, -50px -107.66667px #ffe600, 130px 61.33333px #ff0400, 245px -77.66667px #ff009d, -118px -282.66667px #d0ff00, 197px -195.66667px #ff3300, -85px -156.66667px #ff5900, -220px -234.66667px lime, -160px -71.66667px #ffc800, -46px -157.66667px #0073ff, -4px -30.66667px #ff00cc, 90px -258.66667px #0400ff, -112px -228.66667px #00ffe6, -153px -183.66667px #6a00ff, -50px -383.66667px #ff0055, -194px -389.66667px #ff0022, 33px -282.66667px #ff0059, -35px -176.66667px #00f7ff, 226px -356.66667px #ff007b, 134px -147.66667px #ff0062, -209px -242.66667px #ff0059, -77px -238.66667px #ff2600, 220px 82.33333px #ffbf00, 5px -94.66667px #ff007b, 205px 16.33333px #2b00ff, -186px -122.66667px #8000ff, -92px 58.33333px #f700ff, -47px -389.66667px #1100ff, -18px 3.33333px #0091ff, -183px -314.66667px #00ff37, 147px -138.66667px #00ffcc, -157px 60.33333px #00ff51, 241px -263.66667px #00ffbb, 61px -99.66667px #2f00ff, -94px 55.33333px #ffe100, 208px 16.33333px #ffdd00, 142px -68.66667px #ddff00;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
