.body {
  background-image: url("https://assets.simpleviewcms.com/simpleview/image/upload/c_fill,h_900,q_75,w_1600/v1/clients/lasvegas/uncorkd_header_168d9326-d5e4-47eb-bc15-fe4a7eb22440.jpg");
  height: 100%;
}

.login_head {
  font-family: "Tangerine", cursive, sans-serif;
  font-weight: 600;
}

body h1 {
  color: black;
  text-align: center;
  font-size: 6em;
}

container {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99%;
  height: 100px;
}

.score-board {
  border: 3px solid black;
  color: white;
  height: 60px;
  width: 120px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: darkblue;
  border-radius: 10px;
}

div.prize {
  margin: 0 auto;
  display: block;
  padding: 0px 0px 15px 0px;
  width: 70px;
}

body h3 {
  text-align: center;
  font-family: "Tangerine", cursive, sans-serif;
  font-size: 80px;
  color: black;
  font-weight: 600;
}

img:hover {
  border: 2px, solid, red;
  cursor: pointer;
}

div.bid-card {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.cards img:hover {
  border-style: solid;
}

.user_login {
  width: 400px;
  height: 70px;
  margin: auto;
  padding-left: 30px;
}

.login_head {
  padding: 100px;
}

.highlight {
  border-style: solid;
}

.roundNum {
  font-size: 20px;
  border-style: solid;
  background-color: white;
  display: inline;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
}

.btn-danger {
  margin: 20px;
  width: 105.27px;
}

.btn-primary {
  margin: 20px;
}

.textInfo {
  display: inline;
  font-weight: 700;
  margin-left: 100px;
}

#login {
  margin-left: 115px;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -98px -406.66667px #44ff00, 227px 55.33333px #00aeff, 227px -351.66667px #ffcc00, -113px -73.66667px #f700ff, -201px -18.66667px #0080ff, -55px 58.33333px #ff1e00, 164px -170.66667px #00ff22, -185px -253.66667px #0dff00, 7px -88.66667px #62ff00, 152px -222.66667px #00ff62, 157px -390.66667px #ff00a6, 230px -348.66667px #00ffd9, 58px -257.66667px #ff00cc, 214px -217.66667px #ddff00, 106px -325.66667px #00ff1a, 246px -162.66667px #ff000d, -233px -409.66667px #ff007b, -152px 56.33333px #006fff, 156px -247.66667px #00ffa6, -166px -245.66667px #00fff2, -242px -283.66667px #002fff, 144px -410.66667px #ff008c, -194px -224.66667px #ff00d5, 27px -84.66667px #73ff00, -234px -386.66667px #fff200, 195px -203.66667px #0077ff, -211px -30.66667px #00ff80, -122px -208.66667px #00aeff, -215px -91.66667px #ff0091, -246px -177.66667px #ff9500, -129px 52.33333px #00ff40, -165px -141.66667px #ffa200, 15px -1.66667px #00ff09, 238px -125.66667px #5900ff, 135px -260.66667px #3300ff, 197px 62.33333px #008cff, 82px -92.66667px #ff6a00, -35px 19.33333px #4800ff, 34px 1.33333px #ff008c, -106px -401.66667px #ff8800, 22px -214.66667px #a600ff, -213px -116.66667px #a200ff, -144px -295.66667px magenta, 248px -384.66667px #ff003c, -109px -276.66667px #00ffe6, 41px -343.66667px #00ff95, -151px -368.66667px #ff003c, 74px -86.66667px #ffbb00, 195px -283.66667px #00fbff, 199px -3.66667px #001eff, 147px 74.33333px lime;
  }
}

@-moz-keyframes bang {
  to {
    box-shadow: -98px -406.66667px #44ff00, 227px 55.33333px #00aeff, 227px -351.66667px #ffcc00, -113px -73.66667px #f700ff, -201px -18.66667px #0080ff, -55px 58.33333px #ff1e00, 164px -170.66667px #00ff22, -185px -253.66667px #0dff00, 7px -88.66667px #62ff00, 152px -222.66667px #00ff62, 157px -390.66667px #ff00a6, 230px -348.66667px #00ffd9, 58px -257.66667px #ff00cc, 214px -217.66667px #ddff00, 106px -325.66667px #00ff1a, 246px -162.66667px #ff000d, -233px -409.66667px #ff007b, -152px 56.33333px #006fff, 156px -247.66667px #00ffa6, -166px -245.66667px #00fff2, -242px -283.66667px #002fff, 144px -410.66667px #ff008c, -194px -224.66667px #ff00d5, 27px -84.66667px #73ff00, -234px -386.66667px #fff200, 195px -203.66667px #0077ff, -211px -30.66667px #00ff80, -122px -208.66667px #00aeff, -215px -91.66667px #ff0091, -246px -177.66667px #ff9500, -129px 52.33333px #00ff40, -165px -141.66667px #ffa200, 15px -1.66667px #00ff09, 238px -125.66667px #5900ff, 135px -260.66667px #3300ff, 197px 62.33333px #008cff, 82px -92.66667px #ff6a00, -35px 19.33333px #4800ff, 34px 1.33333px #ff008c, -106px -401.66667px #ff8800, 22px -214.66667px #a600ff, -213px -116.66667px #a200ff, -144px -295.66667px magenta, 248px -384.66667px #ff003c, -109px -276.66667px #00ffe6, 41px -343.66667px #00ff95, -151px -368.66667px #ff003c, 74px -86.66667px #ffbb00, 195px -283.66667px #00fbff, 199px -3.66667px #001eff, 147px 74.33333px lime;
  }
}

@-o-keyframes bang {
  to {
    box-shadow: -98px -406.66667px #44ff00, 227px 55.33333px #00aeff, 227px -351.66667px #ffcc00, -113px -73.66667px #f700ff, -201px -18.66667px #0080ff, -55px 58.33333px #ff1e00, 164px -170.66667px #00ff22, -185px -253.66667px #0dff00, 7px -88.66667px #62ff00, 152px -222.66667px #00ff62, 157px -390.66667px #ff00a6, 230px -348.66667px #00ffd9, 58px -257.66667px #ff00cc, 214px -217.66667px #ddff00, 106px -325.66667px #00ff1a, 246px -162.66667px #ff000d, -233px -409.66667px #ff007b, -152px 56.33333px #006fff, 156px -247.66667px #00ffa6, -166px -245.66667px #00fff2, -242px -283.66667px #002fff, 144px -410.66667px #ff008c, -194px -224.66667px #ff00d5, 27px -84.66667px #73ff00, -234px -386.66667px #fff200, 195px -203.66667px #0077ff, -211px -30.66667px #00ff80, -122px -208.66667px #00aeff, -215px -91.66667px #ff0091, -246px -177.66667px #ff9500, -129px 52.33333px #00ff40, -165px -141.66667px #ffa200, 15px -1.66667px #00ff09, 238px -125.66667px #5900ff, 135px -260.66667px #3300ff, 197px 62.33333px #008cff, 82px -92.66667px #ff6a00, -35px 19.33333px #4800ff, 34px 1.33333px #ff008c, -106px -401.66667px #ff8800, 22px -214.66667px #a600ff, -213px -116.66667px #a200ff, -144px -295.66667px magenta, 248px -384.66667px #ff003c, -109px -276.66667px #00ffe6, 41px -343.66667px #00ff95, -151px -368.66667px #ff003c, 74px -86.66667px #ffbb00, 195px -283.66667px #00fbff, 199px -3.66667px #001eff, 147px 74.33333px lime;
  }
}

@-ms-keyframes bang {
  to {
    box-shadow: -98px -406.66667px #44ff00, 227px 55.33333px #00aeff, 227px -351.66667px #ffcc00, -113px -73.66667px #f700ff, -201px -18.66667px #0080ff, -55px 58.33333px #ff1e00, 164px -170.66667px #00ff22, -185px -253.66667px #0dff00, 7px -88.66667px #62ff00, 152px -222.66667px #00ff62, 157px -390.66667px #ff00a6, 230px -348.66667px #00ffd9, 58px -257.66667px #ff00cc, 214px -217.66667px #ddff00, 106px -325.66667px #00ff1a, 246px -162.66667px #ff000d, -233px -409.66667px #ff007b, -152px 56.33333px #006fff, 156px -247.66667px #00ffa6, -166px -245.66667px #00fff2, -242px -283.66667px #002fff, 144px -410.66667px #ff008c, -194px -224.66667px #ff00d5, 27px -84.66667px #73ff00, -234px -386.66667px #fff200, 195px -203.66667px #0077ff, -211px -30.66667px #00ff80, -122px -208.66667px #00aeff, -215px -91.66667px #ff0091, -246px -177.66667px #ff9500, -129px 52.33333px #00ff40, -165px -141.66667px #ffa200, 15px -1.66667px #00ff09, 238px -125.66667px #5900ff, 135px -260.66667px #3300ff, 197px 62.33333px #008cff, 82px -92.66667px #ff6a00, -35px 19.33333px #4800ff, 34px 1.33333px #ff008c, -106px -401.66667px #ff8800, 22px -214.66667px #a600ff, -213px -116.66667px #a200ff, -144px -295.66667px magenta, 248px -384.66667px #ff003c, -109px -276.66667px #00ffe6, 41px -343.66667px #00ff95, -151px -368.66667px #ff003c, 74px -86.66667px #ffbb00, 195px -283.66667px #00fbff, 199px -3.66667px #001eff, 147px 74.33333px lime;
  }
}

@keyframes bang {
  to {
    box-shadow: -98px -406.66667px #44ff00, 227px 55.33333px #00aeff, 227px -351.66667px #ffcc00, -113px -73.66667px #f700ff, -201px -18.66667px #0080ff, -55px 58.33333px #ff1e00, 164px -170.66667px #00ff22, -185px -253.66667px #0dff00, 7px -88.66667px #62ff00, 152px -222.66667px #00ff62, 157px -390.66667px #ff00a6, 230px -348.66667px #00ffd9, 58px -257.66667px #ff00cc, 214px -217.66667px #ddff00, 106px -325.66667px #00ff1a, 246px -162.66667px #ff000d, -233px -409.66667px #ff007b, -152px 56.33333px #006fff, 156px -247.66667px #00ffa6, -166px -245.66667px #00fff2, -242px -283.66667px #002fff, 144px -410.66667px #ff008c, -194px -224.66667px #ff00d5, 27px -84.66667px #73ff00, -234px -386.66667px #fff200, 195px -203.66667px #0077ff, -211px -30.66667px #00ff80, -122px -208.66667px #00aeff, -215px -91.66667px #ff0091, -246px -177.66667px #ff9500, -129px 52.33333px #00ff40, -165px -141.66667px #ffa200, 15px -1.66667px #00ff09, 238px -125.66667px #5900ff, 135px -260.66667px #3300ff, 197px 62.33333px #008cff, 82px -92.66667px #ff6a00, -35px 19.33333px #4800ff, 34px 1.33333px #ff008c, -106px -401.66667px #ff8800, 22px -214.66667px #a600ff, -213px -116.66667px #a200ff, -144px -295.66667px magenta, 248px -384.66667px #ff003c, -109px -276.66667px #00ffe6, 41px -343.66667px #00ff95, -151px -368.66667px #ff003c, 74px -86.66667px #ffbb00, 195px -283.66667px #00fbff, 199px -3.66667px #001eff, 147px 74.33333px lime;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
